<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <title>FAKE INSTA ID DETECTOR</title>
</head>
<body >
<header class="head">
    <h1>DashBoard</h1>
</header>
<main>
    <div class="left">
        <p>
Welcome to our platform, where we harness the power of artificial intelligence to identify fake accounts on Instagram. Our team is dedicated to promoting a safer, more authentic social media experience by providing a reliable tool to detect and mitigate fake profiles. With a focus on accuracy, security, and transparency, we’re here to help users make more informed connections online.

        </p>
    </div>
    <div class="right">
    <form action="/" method="post" class="form">
        <!-- <label for="ids" class="id">Enter insta ids to check whether real or fake:</label> -->
        <br>
        <input type="text" name="ids" id="ids" placeholder="Enter Insta id here">
        <br>
        <input type="submit" value="SUBMIT" class="submit"> 
   
    </form>
			</div>

</main>
<footer>

</footer>

</body>
</html>
